@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.titulo{
    color: #F8CB2E;
    font-size: 80px;
    margin-bottom: 20px;
    
}

body{
    font-family: 'Press Start 2P', cursive;
    background-color:#006E7F;
}

.subtitulo{

    color: #000;
    
   
}
.foter{
    font-family: 'Press Start 2P', cursive;
    display: flex;
}

#seleccionar-mascota{


    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjetas{
    display: flex;
    gap: 10px;
}
.tarjeta_de_mokepon{
    width: 160px;
    height: 100px;
    background-color: #F8CB2E;
    padding: 19px;
    box-sizing: border-box;
    margin: 5px;
    justify-items: center;
    font-size: 8px;
    border-radius: 20px;
    display: flex;
    align-content: center;
    align-items: center;    
}

.tarjeta_de_mokepon img{
    width: 80px;
}

input{
    display: none;
}




#boton-mascota{
    font-family: 'Press Start 2P', cursive;
    width: 150px;
    height: 50px;
    background-color: #EE5007; 
    border-radius: 50px;
    margin: 10px;
}